/* .navbar{
    background-color: greenyellow;
    border-bottom: 1px solid green;
} */
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 400px;
    margin-top: 20px;
}
ul li{
    margin: 0 5px;
  }
 ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  ul li a:hover{
    color: green;
    /* background: green; */
    border-bottom: solid green 2px;
  }
  .logo img{
    /* margin-left: -20px; */
  height: 70px;
  width: 110%;
  cursor: pointer;
}
.bt1{
    margin-right: 30px;
    background-color: white;
    color: green;
    height: 40px;
    border: solid 1px green;
    padding: 2px;
    border-radius: 25px;
    width: 150px;
    cursor: pointer;
  }
  .bt1:hover{
    background-color: green;
    color:white;
  
  }
  .btn{
    margin-left: -50px;
  }
  
  .btn img{
    height: 50px;
    width: 50px;
  }
