<div  >
    <div class="container">
        <div class="row">
    <ng-container *ngFor="let item of productlist">
            <div class="card col-md-3">
                
                <h5 >{{item.productname}}</h5>
                <img src="{{item.image}}" alt="">
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><b>Delivery date:  </b> {{item.availability}}</p>
                <!-- <p><strong>Quantity: </strong> {{item.quantity}} klg</p> -->
                <p><strong>Price: </strong> P {{item.price}} /klg</p>
                <button class="btn btn-dark" (click)="addtocart(item)">Add to Basket</button>
            </div>
        </ng-container> 
        </div>
       
    </div>
    
</div>
<app-footer style="margin-bottom:0;"></app-footer>