.con{
    position: relative;
    margin: auto;
    margin-top: 2%;
    width: auto;
    height: auto;
    align-content: center;
    /* margin-left: 35%; */
    /* margin-bottom: -100px; */

}
.form1{
    margin-left: 5%;
    margin-right: 70%;
}
.form2{
    margin-top: -260px;
    margin-left: 35%;
    margin-right: 35%;
}
.form3{
    margin-top: -350px;
    margin-left: 60%;
    margin-right: 0px;
}

.form-style-3{
	/* max-width: 450px; */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color:green;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px forestgreen;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid forestgreen;
	padding: 20px;
	background: #D8FFD8;
	box-shadow: inset 0px 0px 15px forestgreen;
	-moz-box-shadow: inset 0px 0px 15px forestgreen;
	-webkit-box-shadow: inset 0px 0px 15px forestgreen;
}
.form-style-3 fieldset legend{
	color: green;
	border-top: 1px solid forestgreen;
	border-left: 1px solid forestgreen;
	border-right: 1px solid forestgreen;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #D8FFD8;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px forestgreen;
	-moz-box-shadow:-0px -1px 2px forestgreen;
	-webkit-box-shadow:-0px -1px 2px forestgreen;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid green;
	outline: none;
	color: forestgreen;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px forestgreen;
	-moz-box-shadow: inset 1px 1px 4px forestgreen;
	-webkit-box-shadow: inset 1px 1px 4px forestgreen;
	background: #e3f7e3;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: green;
	border: 1px solid forestgreen;
	padding: 5px 15px 5px 15px;
	color: wheat;
	box-shadow: inset -1px -1px 3px forestgreen;
	-moz-box-shadow: inset -1px -1px 3px forestgreen;
	-webkit-box-shadow: inset -1px -1px 3px forestgreen;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.required{
	color:red;
	font-weight:normal;
}

/* for image upload */
.center {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  
  }
  .form-input {
    width:350px;
    padding:20px;
    background:#D8FFD8;
    box-shadow: -3px -3px 7px forestgreen,
                3px 3px 7px forestgreen;
    border-radius: 20px;
  }
  .form-input input {
    display:none;
  
  }
  .form-input label {
    display:block;
    width:45%;
    height:45px;
    margin-left: 25%;
    line-height:50px;
    text-align:center;
    background:green;
  
    color:#fff;
    font-size:15px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
  }
  
  .form-input img {
    width:100%;
    display:none;
  
    margin-bottom:30px;
  }
  
