<section>
<main>
<!-- start the contact content here -->
<div class="con-content">

    <div class="contact">
        <h1 style="color:green;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Connect with us!
        </h1>
        <hr >
        <h2 style="color: black;">Have any questions? We'd love to hear from you</h2>
        <div class="mainCon">
            <div class="leftCon">
                <h2>PERSONAL INFORMATION</h2>
                <div style="margin: 50px;">
                    <label for="name" style="font-size: 10pt;color: wheat;">First name</label><br>
                    <input class="ins" type="text" style="color:white" id="in">
                </div>
                <div style="margin: 50px;float: right;margin-top: -115px;">
                    <label for="name" style="font-size: 10pt;color: wheat;">Last name</label><br>
                    <input class="ins" type="text" style="color:white" id="in">
                </div>
                <div style="margin: 50px;margin-top: 0px;">
                    <label for="name" style="font-size: 10pt;color: wheat;">Mobile Number</label><br>
                    <input class="ins" type="text" style="color:white" id="in">
                </div>
                <div style="float: right;margin-right: 50px;margin-top: -120px;">
                    <label for="name" style="font-size: 10pt;color: wheat;">Email</label><br>
                    <input class="ins" type="text" style="color:white" id="in">
                </div>
                <div style="margin: 50px;">
                    <label for="name" style="font-size: 10pt;color: wheat;">Send message</label><br>
                    <input class="ins1" type="text" style="color:white" id="in">
                </div>
                <div class="b">
                    <button type="button" 
                    class="sub" onclick="clickbut()"><a>SUBMIT</a></button>
                </div>

            </div>
            <div class="rightCon">
                <h2>SOCIAL INFORMATION</h2>
                <div class="texts" style="margin-top: 40px;">
                    <a
                        href="https://www.google.com/maps/place/Cebu+City,+Cebu/@10.3787645,123.8462947,12z/data=!3m1!4b1!4m5!3m4!1s0x33a999258dcd2dfd:0x4c34030cdbd33507!8m2!3d10.3156992!4d123.8854366"><i
                        class="fa fa-map-marker"></i></a>
                    <p><span>Philippines</span>
                        Cebu</p>
                </div>
                <div class="texts">
                    <i class="fa fa-phone"></i>
                    <p>+91 74**9**258</p>
                </div>
                <div class="texts">
                    <i class="fa fa-envelope"></i>
                    <p><a href="https://mail.google.com/mail/u/0/#inbox" style="text-decoration: none;color: wheat;">farmtoyours@gmail.com</a></p>
                </div>
                <div class="divcons">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/login"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125585.22068163031!2d123.84629469999999!3d10.37876445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a999258dcd2dfd%3A0x4c34030cdbd33507!2sCebu%20City%2C%20Cebu!5e0!3m2!1sen!2sph!4v1654416424045!5m2!1sen!2sph"  
                    width="450" height="270" style="border:1px solid green;border-radius: 20px;box-shadow: 0 10px 15px green;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
            </div>

        </div>

    </div>

</div>

</main>